.git
.gitignore
.npmignore
.node-version

dist
node_modules
vendor

config/config.json
db.json
sounds

.eslintignore
.eslintrc.yml
docker-compose.yml
Dockerfile
jest.config.js

CHANGELOG.md
README.md
